#map {
  padding: 0;
}

#popup-table,
#popup-table th,
#popup-table td {
  text-align: center;
  border: transparent;
}

table {
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid black;
}

th,
td {
  padding: 4px;
}

#popup-header {
  background-color: chartreuse;
  height: 20px;
  border-bottom: 3px solid black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-top: 8px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  font-weight: 600;
  /* font-weight: bold; */
  font-size: 16px;
}

/* OpenLayers */

.ol-popup {
  position: absolute;
  background-color: white;
  -webkit-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
  padding-bottom: 5px;
  border-radius: 10px;
  /* border: 1px solid #cccccc; */
  bottom: 12px;
  left: -50px;
  min-width: 270px;
}
#popup.ol-popup:after,
#popup.ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
#popup.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}
.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}
.ol-popup-content {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 8px;
  right: 8px;
}
.ol-popup-closer:after {
  content: "✖";
}

#position-popup-header {
  background: rgba(0, 0, 0, 0.2);
  height: 20px;
  border-bottom: 3px solid black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-top: 8px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  font-weight: 600;
  /* font-weight: bold; */
  font-size: 16px;
}

#position-popup {
  height: 85%;
  top: 5%;
  left: 85%;
  /* right: 25px; */
}

#position-popup-content {
  height: 95%;
  overflow-y: auto;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#position-popup-closer,
.popup-button {
  cursor: pointer;
}

#position-popup-footer {
  background: rgba(220, 255, 93, 0.7);
  height: 20px;
  border-top: 3px solid black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-top: 8px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  font-weight: 600;
  /* font-weight: bold; */
  font-size: 16px;
}

table.position-table {
  margin: 5px;
  width: 100%;
}

/* table.position-table td:last-child {
} */

button.close {
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
}

.close {
  float: right;
  font-weight: 700;
  line-height: 1;
  opacity: 0.2;
}

.btn {
  cursor: pointer;
}
